<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Portal</title>

    <style>
        /* styling our input box */
        input[type="text"] {
            /* this just makes the width 30% of the page width */
            width: 30%; 
        }
    </style>
</head>
<body>
    <h1>Search</h1>
    
    <!-- form will send a get request to our results endpoint, passing in the customer name -->
    <form action="{{ url_for('results') }}">
        <input type="text" placeholder="Enter customer name" name="customer">
    </form>
</body>
</html>