<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Policy Info</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <table border="1">
        <tr>
        <th>Policy ID</th>
        <th>Yearly Premium</th>
        <th>Total Years</th>
        <th>Protected Sum</th>
        <th>Commission Rate</th>
        </tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td>{{ record[3] }}</td>
            <td>{{ record[4] }}</td>
        </tr>
    </table> 
</body>
</html>