<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Portal</title>

    <style>
        /* same as in app 1 */
        input[type="text"] {
            width: 30%;
        }
    </style>
</head>
<body>
    <h1>Search</h1>
    
    <!-- same as in app 1 -->
    <form action="{{ url_for('results') }}">
        <input type="text" placeholder="Enter team number" name="team">
    </form>
</body>
</html>